#!/usr/bin/make -f

export QT_SELECT=5

QMAKE_OPTS = DEFINES+=NO_DEBUG_ON_CONSOLE
MAKE_OPTS  = PREFIX=/usr QMAKE=qmake LRELEASE=lrelease QMAKE_OPTS="$(QMAKE_OPTS)"

override_dh_auto_configure:
	QT_SELECT=qt5 dh_auto_configure \
                -- "QMAKE_CXXFLAGS=$(CFLAGS)" \
                kylin-kmre-window.pro

%:
	dh $@

override_dh_install:
	dh_install --fail-missing

override_dh_auto_clean:
	[ ! -f .qmake.stash ] || $(RM) .qmake.stash
	[ ! -f startapp/.qmake.stash ] || $(RM) startapp/.qmake.stash
	[ ! -f settings-daemon/.qmake.stash ] || $(RM) settings-daemon/.qmake.stash
	[ ! -f settings-ui/.qmake.stash ] || $(RM) settings-ui/.qmake.stash
	[ ! -f window/.qmake.stash ] || $(RM) window/.qmake.stash
	[ ! -f window/kylin-kmre-window ] || $(RM) window/kylin-kmre-window
	[ ! -f startapp/startapp ] || $(RM) startapp/startapp
	[ ! -f settings-daemon/kylin-kmre-settings-daemon ] || $(RM) settings-daemon/kylin-kmre-settings-daemon
	[ ! -f settings-ui/kylin-kmre-settings ] || $(RM) settings-ui/kylin-kmre-settings
	[ ! -d window/.moc ] || $(RM) -r window/.moc
	[ ! -d window/.obj ] || $(RM) -r window/.obj
	[ ! -d window/.ui ] || $(RM) -r window/.ui
	[ ! -d window/.rcc ] || $(RM) -r window/.rcc
	[ ! -d startapp/.moc ] || $(RM) -r startapp/.moc
	[ ! -d startapp/.obj ] || $(RM) -r startapp/.obj
	[ ! -d startapp/.ui ] || $(RM) -r startapp/.ui
	[ ! -d startapp/.rcc ] || $(RM) -r startapp/.rcc
	[ ! -d settings-ui/.moc ] || $(RM) -r settings-ui/.moc
	[ ! -d settings-ui/.obj ] || $(RM) -r settings-ui/.obj
	[ ! -d settings-ui/.ui ] || $(RM) -r settings-ui/.ui
	[ ! -d settings-ui/.rcc ] || $(RM) -r settings-ui/.rcc
	[ ! -d settings-daemon/.moc ] || $(RM) -r settings-daemon/.moc
	[ ! -d settings-daemon/.obj ] || $(RM) -r settings-daemon/.obj
	[ ! -f window/Makefile ]  || $(RM) window/Makefile
	[ ! -f startapp/Makefile ]  || $(RM) startapp/Makefile
	[ ! -f settings-daemon/Makefile ]  || $(RM) settings-daemon/Makefile
	[ ! -f settings-ui/Makefile ]  || $(RM) settings-ui/Makefile
	dh_auto_clean

#override_dh_auto_build:
#	dh_auto_build -- $(MAKE_OPTS)
