[Desktop Entry]
Name=startapp
Comment=Start Kmre
Exec=/usr/bin/startapp start_kmre_silently
Terminal=false
Type=Application
StartupNotify=false
X-GNOME-Autostart-Phase=Applications
X-GNOME-Autostart-Notify=false
X-GNOME-Autostart-Delay=8
NoDisplay=true
Categories=
